In [2]:
# pip install scrapy
# pip install --upgrade zope2

from collections import Counter
import foursquare
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pickle
import random
import requests
from scrapy import Selector
from scrapy.http import HtmlResponse
import seaborn as sns
from sqlalchemy import create_engine
import sqlite3
import textacy
import textacy.data
import time
import unicodedata

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
usda = pd.read_pickle('../../../../Accounts/Electo:Computad/\
MacBook Pro/Software/Github/Old_repos/DSI-SF-4-anotherguitar/projects/Capstone Stuff/usda.pkl')
food = pd.read_pickle('../../../../Accounts/Electo:Computad/\
MacBook Pro/Software/Github/Old_repos/DSI-SF-4-anotherguitar/projects/Capstone Stuff/explore_endpoint_df.pkl')
vegan = food[food.vegan_venue_check == 'vegan']

In [4]:
def word_counter(unique_desc):
    single_string = ' '.join(unique_desc)
    count_string = len(single_string.split())
    return count_string

In [5]:
# have to count the number of words in each list and add this as a new column to the dataframe
update_to_food = food
update_to_food['count_desc_list'] = food.venue_desc_list.map(lambda x: word_counter(x))

In [6]:
def item_desc_counter(phrase):
    if phrase == 'desc_not_available':
        return 0
    else:
        countered = len(phrase.split())
        return countered

In [7]:
update_to_food['count_item_name'] = food.menu_item_name.map(lambda x: len(x.split()))
update_to_food['count_item_desc'] = food.menu_item_desc.map(lambda x: item_desc_counter(x))

In [8]:
update_to_food.head()
vegan_update = update_to_food[update_to_food.vegan_venue_check == 'vegan']
vegan_update.head(2)

,venue_name,venue_desc_list,vegan_venue_check,venue_menu_url,venue_rated,meta_menu_n,depth_menus_n,menu_item_name,menu_item_price,menu_item_desc,count_desc_list,count_item_name,count_item_desc
1064,Amber India,"[Indian Restaurant, Vegetarian / Vegan Restaur...",vegan,https://foursquare.com/v/amber-india/4acab395f...,8.6,Dessert Menu,"Ports, Madeira, & Dessert Wines","Tokaji, Disznoko, Kesoi Szuret, Hungary '08",9,desc_not_available,6,6,0
1065,Amber India,"[Indian Restaurant, Vegetarian / Vegan Restaur...",vegan,https://foursquare.com/v/amber-india/4acab395f...,8.6,Dessert Menu,"Ports, Madeira, & Dessert Wines","Tawny Port, Graham's 20 Yr",11,desc_not_available,6,5,0

In [9]:
usda = usda.drop('ComName', axis=1)
usda = usda.drop('FG_Cd', axis=1)

In [10]:
usda.head()

,Food_No,Food_Group,Description,Nutr_No,Nutrient,Amount_per_100,Units,Tagname,Not_Imputed
0,01001,Dairy and Egg Products,"Butter, salted",203,Protein,0.85,g,PROCNT,1
1,01001,Dairy and Egg Products,"Butter, salted",204,Total lipid (fat),81.11,g,FAT,1
2,01001,Dairy and Egg Products,"Butter, salted",205,"Carbohydrate, by difference",0.06,g,CHOCDF,0
3,01001,Dairy and Egg Products,"Butter, salted",207,Ash,2.11,g,ASH,1
4,01001,Dairy and Egg Products,"Butter, salted",208,Energy,717.00,kcal,ENERC_KCAL,0

In [221]:
dads = usda[['Food_Group','Description']]
dads.head()
dads.Food_Group.unique()
dads = dads[dads.Food_Group != 'Baby Foods']
dads = dads[dads.Food_Group != 'Restaurant Foods']
dads = dads[dads.Food_Group != 'Breakfast Cereals']
dads = dads[dads.Food_Group != 'American Indian/Alaska Native Foods']
dads = dads[dads.Food_Group != 'Soups, Sauces, and Gravies']
dads.Food_Group.unique()

# Columns I dropped/ratioanle:
# Probably nix Baby Foods (just baby versions, no unique identifier, so doesn't have predictive value)
# Probably nix Restaurant Foods (just restaurant versions, with some brand names, so doesn't have predictive value)
# Probably nix Breakfast Cereals - primarily brand names, w/ some 'cream' - nothing else helpful
# American Indian/Alaska Native Foods because it has a lot of fish, and is confusing my categories (I think)
# I found 'cream' in Soups, Sauces, and Gravies, but pultry products come up a lot too - check what id's come
# out of dairy

# Notes:
# On the fence: Spices & Herbs (has some unique ingredients, but also generic words)
# Fats and Oils includes Mayo, make a unique one for mayo - is spelled as mayo, or full mayoneise on unique menus
#          ? b/c i think it becomes egg then, also fish oil, soy,
#       margarine is basically vegan except trace stuff, then there's butter too
# Snacks: can help on chips, but lots of brands, and doubles on milk, cheese, ingredient (does show granola too)
# Some Vegetables and Vegetable Products have milk b/c of processing, but fairly uncommon
# Nut and Seed Products - some oil mentions in there could throw it off, but otherwise decent; includes nut butters
# Finfish and Shellfish Products has raw, and so does Fruits, cut out? but could help w/ raw diets...
# Baked Products can include cheese, less of milk
# Sweets have egg, milk, honey, ice cream
# Cereal Grains and Pasta - some has egg
# Fast Foods has a lot of dairy, cheese, meats, pizza
# Meals, Entrees, and Sidedishes seems to have a lot of non-vegan stuff in general
# Restaurant Foods seems to have a lot of nonvegan and ethnic shit

array(['Dairy and Egg Products', 'Spices and Herbs', 'Fats and Oils',
       'Poultry Products', 'Sausages and Luncheon Meats', 'Snacks',
       'Fruits and Fruit Juices', 'Pork Products',
       'Vegetables and Vegetable Products', 'Nut and Seed Products',
       'Beef Products', 'Beverages', 'Finfish and Shellfish Products',
       'Legumes and Legume Products', 'Lamb, Veal, and Game Products',
       'Baked Products', 'Sweets', 'Cereal Grains and Pasta', 'Fast Foods',
       'Meals, Entrees, and Sidedishes'], dtype=object)

In [215]:
# Let's make a dictionary with the 25 unique food groups and their respective descriptions
deduped = []
for group, group_df in dads.groupby(['Food_Group', 'Description']):
    deduped.append({
      "Food_Group":  group[0],
      "Description": group[1]
    })
    
deduped[0]['Food_Group']

'American Indian/Alaska Native Foods'

In [13]:
# Example
print deduped[2]['Food_Group'].lower().replace(',',' ').replace('/',' ').replace('-',' ').replace('_',' ').replace('.',' ').replace(',',' ') 
print deduped[2]['Description'].lower().replace(',',' ').replace('/',' ').replace('-',' ').replace('_',' ').replace('.',' ').replace(',',' ') 
print len(deduped)

american indian alaska native foods
agave  dried (southwest)
8194

In [14]:
# This function will assign food groups given a single word input

def assign_group(word_in_item):
    groups = []
    for item_no in range(len(deduped)):
        search_this = deduped[item_no]['Description'].lower().replace(',','').replace('/',' ').replace('-',' ').replace('_',' ').replace('.',' ').replace('(','').replace(')','').replace("'","").replace('&','')
        if search_this.find(word_in_item.lower()) != -1:
            groups.append(deduped[item_no]['Food_Group'])
            groupings = list(set(groups))
            groupings = ', '.join(groupings)
            return groupings

In [15]:
# This function will assign food groups if given a feature from a particular item as an input

def groups_from_item(itemed):
    
    #clean item
    item = itemed.lower().replace(',','').replace('/',' ').replace('-',' ').replace('_',' ').replace('.',' ').replace('(','').replace(')','').replace("'","").replace('&','')
    
    # create a placeholder (or a list) with all the applicable food groups for a given food item    
    all_food_groups = 'food_groups_placeholder'

    if len(item.split()) == 1:
    # because there's just one word, we can feed the item directly into the search loop
        word_in_item = item
        all_food_groups = assign_group(word_in_item)
        return all_food_groups
        
    # this is how I'll map the series with the correct menu item on the larger dataframe,
    # just in case I decide not to use the series map function directly

    elif len(item.split()) >= 1:
        # because there's more than one word, I'll have to do an extra loop to hit each word, but making sure that
        # they get appended to the same row, and not to the following row
        each_words_group = []
        for word_in_item in item.split():
            a_food_group = assign_group(word_in_item)
            if a_food_group != None:
                each_words_group.append(a_food_group)
        if each_words_group != []:
            all_food_groups = ', '.join(each_words_group)
        else:
            all_food_groups = 'no_groups_avail'
        return all_food_groups
        
# I could just create a list of possible food_groups first, then determine which food group is more likely? 
# for example, by taking the most common food group chosen for each of the words in that particular menu item

# ^^ I think the best way to do this is to make fg columns for item, menu, sub_menu, etc. and then pick the
# group label with the highest label, or maybe the top 2/3 labels per row

In [16]:
vegan_next_version = vegan
list_run_thru = vegan_next_version.menu_item_name
print len(list_run_thru)

1861

In [17]:
# Here I've automated the food group tagging I would have done across each item, sub menu, and meta menu
start_time = time.time()
vegan_next_version['item_fg'] = vegan_next_version.menu_item_name.map(lambda x: groups_from_item(x))
print("--- %s seconds ---" % (time.time() - start_time))

--- 87.0043108463 seconds ---

/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [18]:
vegan_next_version['depth_menu_fg'] = vegan_next_version.depth_menus_n.map(lambda x: groups_from_item(x))

/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [19]:
vegan_next_version['meta_menu_fg'] = vegan_next_version.meta_menu_n.map(lambda x: groups_from_item(x))

/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [32]:
vegan_next_version['item_desc_fg'] = vegan_next_version.menu_item_desc.map(
    lambda x: groups_from_item(x) if x != 'desc_not_available' else "no_groups_avail" )

/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [212]:
vegan_next_version[['venue_name','venue_rated','menu_item_name','menu_item_price','depth_menus_n','meta_menu_n','item_fg','depth_menu_fg','meta_menu_fg']].head(1)

,venue_name,venue_rated,menu_item_name,menu_item_price,depth_menus_n,meta_menu_n,item_fg,depth_menu_fg,meta_menu_fg
1064,Amber India,8.6,"Tokaji, Disznoko, Kesoi Szuret, Hungary '08",9,"Ports, Madeira, & Dessert Wines",Dessert Menu,no_groups_avail,"Beverages, Baby Foods","Baby Foods, Restaurant Foods"

In [199]:
vegan_next_version[['menu_item_name','menu_item_desc','item_fg','depth_menu_fg','meta_menu_fg','item_desc_fg']].head(5)

,menu_item_name,menu_item_desc,item_fg,depth_menu_fg,meta_menu_fg,item_desc_fg
1064,"Tokaji, Disznoko, Kesoi Szuret, Hungary '08",desc_not_available,no_groups_avail,"Beverages, Baby Foods","Baby Foods, Restaurant Foods",no_groups_avail
1065,"Tawny Port, Graham's 20 Yr",desc_not_available,"Baby Foods, Baked Products, Beef Products, Bev...","Beverages, Baby Foods","Baby Foods, Restaurant Foods",no_groups_avail
1066,"Porto, Rozes, 1997",desc_not_available,"Soups, Sauces, and Gravies","Beverages, Baby Foods","Baby Foods, Restaurant Foods",no_groups_avail
1067,"Porto, Black, Quinta Do Noval, Portugal",desc_not_available,"Soups, Sauces, and Gravies, American Indian/Al...","Beverages, Baby Foods","Baby Foods, Restaurant Foods",no_groups_avail
1068,"Muscat, Casta Diva, Alicante Do, Spain '07",desc_not_available,"Beverages, American Indian/Alaska Native Foods...","Beverages, Baby Foods","Baby Foods, Restaurant Foods",no_groups_avail

In [194]:
zz = vegan_next_version[vegan_next_version.menu_item_name == 'Lemon Grass Panna Cotta']
zz.shape

(1, 14)

In [210]:
im = vegan_next_version[vegan_next_version.menu_item_name == 'Lemon Grass Panna Cotta']['item_fg']
dm = vegan_next_version[vegan_next_version.menu_item_name == 'Lemon Grass Panna Cotta']['depth_menu_fg']
mm = vegan_next_version[vegan_next_version.menu_item_name == 'Lemon Grass Panna Cotta']['meta_menu_fg']
idm = vegan_next_version[vegan_next_version.menu_item_name == 'Lemon Grass Panna Cotta']['item_desc_fg']
mm = vegan_next_version[vegan_next_version.menu_item_name == 'Lemon Grass Panna Cotta']

# print vegan.map(lambda x: 

for i in range(vegan_next_version.shape[0]):
    collect_descs = []
    
    # The iloc collects the index of each description I will tag with a group name
    # I'm taking the outputs of my previous function on columns 5,6,7 & 9, which are in 10,11,12, & 13

    for j in vegan_next_version.iloc[i,[10,11,12,13]]:
        collect_descs.append(j)
        collected = ', '.join(collect_descs)
#     print "----", collected
    collected = str(collected)
    collected = [y for y in collected.split(', ')]
    top_descs = Counter(collected).most_common(3)
    x = top_descs
    print x[0][0], x[0][1]
    print x[1][0], x[1][1]
    print x[2][0], x[2][1]
    print "---------------"

    
    
# im = vegan_next_version[vegan_next_version.menu_item_name == 'Pop Chips']['item_fg']
# dm = vegan_next_version[vegan_next_version.menu_item_name == 'Pop Chips']['depth_menu_fg']
# mm = vegan_next_version[vegan_next_version.menu_item_name == 'Pop Chips']['meta_menu_fg']
# idm = vegan_next_version[vegan_next_version.menu_item_name == 'Pop Chips']['item_desc_fg']

# def auto_tagger(row_example):
    
# for i in im:
#     for j in dm:
#         for k in mm:
#             for l in idm:
#                 listed = i, j, k, l
#                 listed = ', '.join(listed)
#                 listed = str(listed)
#                 listed = [y for y in listed.split(', ')]
#                 x = Counter(listed).most_common(3)
# print x[0][0], x[0][1]

# print x[1][0], x[1][1]

# print x[2][0], x[2][1]

Baby Foods 2
no_groups_avail 2
Restaurant Foods 1
---------------
Baby Foods 3
Beverages 2
Restaurant Foods 1
---------------
Baby Foods 2
and Gravies 1
Soups 1
---------------
Baby Foods 2
American Indian/Alaska Native Foods 2
and Gravies 1
---------------
Beverages 2
Baby Foods 2
Fast Foods 1
---------------
Baby Foods 2
Beverages 2
Restaurant Foods 1
---------------
no_groups_avail 3
Baby Foods 1
Restaurant Foods 1
---------------
no_groups_avail 3
Baby Foods 1
Restaurant Foods 1
---------------
no_groups_avail 3
Baby Foods 1
Restaurant Foods 1
---------------
no_groups_avail 3
Baby Foods 1
Restaurant Foods 1
---------------
no_groups_avail 3
Baby Foods 1
Restaurant Foods 1
---------------
no_groups_avail 2
Baby Foods 1
Restaurant Foods 1
---------------
no_groups_avail 3
Baby Foods 1
Restaurant Foods 1
---------------
no_groups_avail 3
Baby Foods 1
Restaurant Foods 1
---------------
Baby Foods 4
American Indian/Alaska Native Foods 4
Cereal Grains and Pasta 1
---------------
Baby Foods 2
Baked Products 2
Restaurant Foods 1
---------------
American Indian/Alaska Native Foods 4
Baby Foods 3
Baked Products 3
---------------
Baby Foods 5
American Indian/Alaska Native Foods 4
Restaurant Foods 2
---------------
Baby Foods 4
Baked Products 4
Restaurant Foods 2
---------------
Baby Foods 4
Restaurant Foods 2
Baked Products 2
---------------
Baby Foods 2
Restaurant Foods 2
Fast Foods 1
---------------
Restaurant Foods 2
Baby Foods 2
Fast Foods 1
---------------
Baby Foods 2
Restaurant Foods 2
Beverages 1
---------------
Restaurant Foods 2
Baby Foods 2
Fast Foods 1
---------------
Baby Foods 5
Restaurant Foods 2
American Indian/Alaska Native Foods 2
---------------
Baby Foods 5
Baked Products 4
American Indian/Alaska Native Foods 4
---------------
Baked Products 4
Baby Foods 3
Restaurant Foods 2
---------------
Baby Foods 2
Restaurant Foods 2
no_groups_avail 2
---------------
Restaurant Foods 2
Baby Foods 2
American Indian/Alaska Native Foods 2
---------------
Baby Foods 2
Restaurant Foods 2
no_groups_avail 2
---------------
Baby Foods 2
Restaurant Foods 2
Beverages 1
---------------

TypeError: sequence item 1: expected string, NoneType found

In [ ]:
happy = "Baked Products, Baked Products, Dairy and Egg Products, Baby Foods, Restaurant Foods, Baby Foods, Restaurant Foods, Baked Products, Baked Products, Baby Foods, American Indian/Alaska Native Foods, Vegetables and Vegetable Products, Baby Foods"
happy.split(',')
for i in happy.split(','):
    print "item:", i

In [24]:
# Below is extra data that I might later use to correlate nutrients with particular food groups,
# though I'm not sure if there will be enough time for me to complete this aspect of the project

In [25]:
usda.shape

(595359, 9)

In [26]:
tmp = usda[['Food_Group','Nutrient']]

In [27]:
tmp = tmp.groupby(['Food_Group','Nutrient']).agg(lambda x: 1.)
tmp.head()

Food_Group                           Nutrient
American Indian/Alaska Native Foods  10:0        1.0
                                     12:0        1.0
                                     14:0        1.0
                                     14:1        1.0
                                     15:0        1.0
dtype: float64

In [28]:
tmp = tmp.unstack(fill_value=0)

In [29]:
tmp.shape

(25, 145)

In [30]:
tmp = tmp.reset_index()

In [31]:
tmp['Carbohydrate, by difference']

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    1.0
Name: Carbohydrate, by difference, dtype: float64

In [32]:
tmp.columns.unique()

array(['Food_Group', '10:0', '12:0', '13:0', '14:0', '14:1', '15:0',
       '15:1', '16:0', '16:1 c', '16:1 t', '16:1 undifferentiated', '17:0',
       '17:1', '18:0', '18:1 c', '18:1 t', '18:1 undifferentiated',
       '18:1-11t (18:1t n-7)', '18:2 CLAs', '18:2 i', '18:2 n-6 c,c',
       '18:2 t not further defined', '18:2 t,t', '18:2 undifferentiated',
       '18:3 n-3 c,c,c (ALA)', '18:3 n-6 c,c,c', '18:3 undifferentiated',
       '18:3i', '18:4', '20:0', '20:1', '20:2 n-6 c,c', '20:3 n-3',
       '20:3 n-6', '20:3 undifferentiated', '20:4 n-6',
       '20:4 undifferentiated', '20:5 n-3 (EPA)', '21:5', '22:0', '22:1 c',
       '22:1 t', '22:1 undifferentiated', '22:4', '22:5 n-3 (DPA)',
       '22:6 n-3 (DHA)', '24:0', '24:1 c', '4:0', '6:0', '8:0',
       'Adjusted Protein', 'Alanine', 'Alcohol, ethyl', 'Arginine', 'Ash',
       'Aspartic acid', 'Beta-sitosterol', 'Betaine', 'Caffeine',
       'Calcium, Ca', 'Campesterol', 'Carbohydrate, by difference',
       'Carotene, alpha', 'Carotene, beta', 'Cholesterol',
       'Choline, total', 'Copper, Cu', 'Cryptoxanthin, beta', 'Cystine',
       'Dihydrophylloquinone', 'Energy',
       'Fatty acids, total monounsaturated',
       'Fatty acids, total polyunsaturated',
       'Fatty acids, total saturated', 'Fatty acids, total trans',
       'Fatty acids, total trans-monoenoic',
       'Fatty acids, total trans-polyenoic', 'Fiber, total dietary',
       'Fluoride, F', 'Folate, DFE', 'Folate, food', 'Folate, total',
       'Folic acid', 'Fructose', 'Galactose', 'Glucose (dextrose)',
       'Glutamic acid', 'Glycine', 'Histidine', 'Hydroxyproline',
       'Iron, Fe', 'Isoleucine', 'Lactose', 'Leucine',
       'Lutein + zeaxanthin', 'Lycopene', 'Lysine', 'Magnesium, Mg',
       'Maltose', 'Manganese, Mn', 'Menaquinone-4', 'Methionine', 'Niacin',
       'Pantothenic acid', 'Phenylalanine', 'Phosphorus, P',
       'Phytosterols', 'Potassium, K', 'Proline', 'Protein', 'Retinol',
       'Riboflavin', 'Selenium, Se', 'Serine', 'Sodium, Na', 'Starch',
       'Stigmasterol', 'Sucrose', 'Sugars, total', 'Theobromine',
       'Thiamin', 'Threonine', 'Tocopherol, beta', 'Tocopherol, delta',
       'Tocopherol, gamma', 'Total lipid (fat)', 'Tryptophan', 'Tyrosine',
       'Valine', 'Vitamin A, IU', 'Vitamin A, RAE', 'Vitamin B-12',
       'Vitamin B-12, added', 'Vitamin B-6',
       'Vitamin C, total ascorbic acid', 'Vitamin D',
       'Vitamin D (D2 + D3)', 'Vitamin D2 (ergocalciferol)',
       'Vitamin D3 (cholecalciferol)', 'Vitamin E (alpha-tocopherol)',
       'Vitamin E, added', 'Vitamin K (phylloquinone)', 'Water', 'Zinc, Zn'], dtype=object)

In [33]:
tmp['Sucrose'].head(3).T

0    1.0
1    1.0
2    1.0
Name: Sucrose, dtype: float64

In [34]:
tmp.head(10)

Nutrient,Food_Group,10:0,12:0,13:0,14:0,14:1,15:0,15:1,16:0,16:1 c,...,"Vitamin C, total ascorbic acid",Vitamin D,Vitamin D (D2 + D3),Vitamin D2 (ergocalciferol),Vitamin D3 (cholecalciferol),Vitamin E (alpha-tocopherol),"Vitamin E, added",Vitamin K (phylloquinone),Water,"Zinc, Zn"
0,American Indian/Alaska Native Foods,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
1,Baby Foods,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
2,Baked Products,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
3,Beef Products,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
4,Beverages,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
5,Breakfast Cereals,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,Cereal Grains and Pasta,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
7,Dairy and Egg Products,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,Fast Foods,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
9,Fats and Oils,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0